<div class="reset-container">
  <div class="form-card">
    <h2>Restablecer Contraseña</h2>
    
    <div class="lock-image-container">
      <img src="assets/img/reset.png" alt="" class="lock-image">
    </div>
    
    <div class="input-container">
      <label for="newPassword">Nueva Contraseña</label>
      <input [(ngModel)]="newPassword" id="newPassword" placeholder="Ingresa tu nueva contraseña" type="password">
    </div>
    
    <button class="reset-btn" (click)="resetPassword()">Restablecer Contraseña</button>
    
    <p *ngIf="successMessage" class="success-message">
      <i class="fas fa-check-circle"></i>{{ successMessage }}
    </p>
    
    <p *ngIf="errorMessage" class="error-message">
      <i class="fas fa-times-circle"></i>{{ errorMessage }}
    </p>
  </div>
</div>
